src/templates/about.pug
extends _layouts/_base

append vars
	-
		var title = 'about'

block content
	.page-bg
	.page
		section.page-banner
			.container
				h1.page-banner__title About
				.page-banner__image
					+picture('images/about-banner.png', 'images/about-banner@x2.png', 'images/mob-about-banner.png')

		//- section.about-video
		//- 	.container
		//- 		.js-videoAboutWrap
		//- 		//- .video-item.js-videoAbout
		//- 		//- 	iframe(src="https://www.youtube.com/embed/dTtshy4KzSY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

		section.section.section-advantages
			.container
				.advantages-top
					p Our team of SimCorp Dimension specialists provides the regular support and development services in the following Dimension areas:
				.advantages-grid__wrap
					.advantages-grid
						.advantages-col
							.advantages-card
								.advantages-card__icon
									+icon('office')
								.advantages-card__text
									p <b>Front Office &amp; Compliance</b>
									p Asset Manager, Compliance Manager (including limits on AIFMD), Order Manager, Limit Monitor, Portfolio Manager, Portfolio Workbench, Position Analysis, Rebalancing, Trade Manager, Margin Manager

						.advantages-col
							.advantages-card
								.advantages-card__icon
									+icon('management')
								.advantages-card__text
									p <b>Data Management / Instruments valuation/ Reporting</b>
									p Instruments (including ETD &amp; OTC derivatives) pricing, data import &amp; export (Data Extractors, Data format setups, SQL, Crystal reports, message queues), key rate durations, DV01, spread duration, modified &amp; option-adjusted duration, yield curves (including UFR, EONIA, OIS, ESTR, EURIBOR, LIBOR valuation), exposure (including ESMA conventions), price checks, market data validations, market data scenarios

						.advantages-col
							.advantages-card
								.advantages-card__icon
									+icon('market')
								.advantages-card__text
									p <b>Market Risk Management</b>
									p Risk Manager, Risk Measurement, Risk Factor Scenarios, Covariance manager, Risk factor manager, Equity return manager, VaR models: Parametric, Historical, Monte-Carlo, Delta Normal, Delta Gamma, Ex-Ante key ratios, Expected shortfalls and upsides

						.advantages-col
							.advantages-card
								.advantages-card__icon
									+icon('perfomance')
								.advantages-card__text
									p <b>Performance Management</b>
									p Model portfolios, Investment structure, Strategic Asset Allocation and Mandate (SAAM), Performance calculation, Performance Measurement, Benchmarks/Index valuations, key ratios (TWR, TE)

						.advantages-col
							.advantages-card
								.advantages-card__icon
									+icon('transaction')
								.advantages-card__text
									p <b>Transaction settlement &amp; reconciliation</b>
									p General reconciliation, transaction STP flow

						.advantages-col
							.advantages-card
								.advantages-card__icon
									+icon('formula')
								.advantages-card__text
									p <b>Formulas</b>
									p Constructing analytics within formulas for Asset Manager, Compliance Manager, Portfolio Calculations, Data Format Setup, Data Extractor, Portfolio Manager, User Defined Key Ratios

						.advantages-col
							.advantages-card
								.advantages-card__icon
									+icon('stock-market')
								.advantages-card__text
									p <b>Look Through data import/export/analysis</b>
									p Setting up the fund decomposition profiles, analyzing the weighting methods, pricing, residuals, fund components (including derivatives) valuation: pricing, exposure, durations

						.advantages-col
							.advantages-card
								.advantages-card__icon
									+icon('operator')
								.advantages-card__text
									p <b>Professional services</b>
									p Testing the upgrades and patches, accelerating system performance speed (load balancing, formulas, reports), customer support: analyzing and reproducing calculation of SimCorp Dimension key ratios in Excel, answering questions regarding setup algorithms and best practice, constructing the requirement specifications for implementation of new solutions, knowledge sharing and presentations

						.advantages-col
							.advantages-card
								.advantages-card__icon
									+icon('factory')
								.advantages-card__text
									p <b>Automation</b>
									p Analyze what part of business operations your company still does manually/outside of Dimension. Design &amp; implement the automation solution. Measure the STP (Straight-Through-the-Process) rate before/after automation

		section.about-article
			.container
				.about-article__flex
					.about-article__image
						img(src="images/about.png")
						h3.about-article__title Sergii Oliinyk
						h4.about-article__subtitle Team Leader
						p MSc Mathematics, MSc Banking
					.about-article__text
						p When I was a kid my dad often took me to airport, where he was fixing the airplanes and helicopters. I clearly remember how amazed I was by seeing the number of details inside of those machines. It seemed impossible that humans can build anything like that. However, the real proud came to my heart when I saw those machines flying in the sky, and I knew that those things, that dad implemented, would help them stay safe in the air, where humans were never supposed to fly.<br> Over the years I built the experience and attention, needed to work with many details during the development process. Whether it refers to software construction, business analysis or education – in the end it is about details which make a huge difference in how far we can reach towards our dreams. The astronauts pay attention to each detail, being in the space, as each of them can save the life when humanity is exposed to the area of new and unknown.

						p Working with SimCorp Dimension, I was lucky to meet the experts who share the same interests and inspiration in solution development and business analysis. Together we have established the Unique IT Solutions company (i.e. Unitso) in 2014.
						p Our team of high professional experts in SimCorp Dimension system is ready to support your business strategy with exceptional knowledge and skills. Besides the maintenance and knowledge sharing, we are focused on inventing, designing and developing the innovative & new automatic solutions, which would let your business reach the bravest goals.

build/about.html
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>about</title>
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
		<link rel="stylesheet" href="css/main.css" type="text/css">
	</head>
	<body>
		<header class="header">
			<div class="container">
				<div class="header-content"><a class="header-logo" href="main.html">
						<picture>
							<source media="(max-width: 767px)" srcset="images/logo@x2.png"/>
							<source media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset="images/logo@x2.png"/><img src="images/logo.png"/>
						</picture></a>
					<div class="header-nav">
						<div class="header-nav__elem"><a href="about.html">About</a></div>
						<div class="header-nav__elem"><a href="solution.html">Solutions & Services</a></div>
						<div class="header-nav__elem"><a href="news.html">News</a></div>
						<div class="header-nav__elem"><a href="contacts.html">Contact</a></div>
					</div>
					<div class="header-burger">
						<div class="burger js-openMenu"><i></i><i></i><i></i></div>
					</div>
				</div>
			</div>
			<div class="menu js-menu">
				<div class="menu-nav js-menuContent">
					<div class="menu-nav__elem"><a href="main.html">
							<picture>
								<source media="(max-width: 767px)" srcset="images/logo@x2.png"/>
								<source media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset="images/logo@x2.png"/><img src="images/logo.png"/>
							</picture></a></div>
					<div class="menu-nav__elem"><a href="about.html">About</a></div>
					<div class="menu-nav__elem"><a href="solution.html">Solutions & Services</a></div>
					<div class="menu-nav__elem is-active"><a href="news.html">News</a></div>
					<div class="menu-nav__elem"><a href="contacts.html">Contact</a></div>
				</div>
			</div>
		</header>
		<div class="page-bg"></div>
		<div class="page">
			<section class="page-banner">
				<div class="container">
					<h1 class="page-banner__title">About</h1>
					<div class="page-banner__image">
						<picture>
							<source media="(max-width: 767px)" srcset="images/mob-about-banner.png"/>
							<source media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset="images/about-banner@x2.png"/><img src="images/about-banner.png"/>
						</picture>
					</div>
				</div>
			</section>
			<section class="section section-advantages">
				<div class="container">
					<div class="advantages-top">
						<p>Our team of SimCorp Dimension specialists provides the regular support and development services in the following Dimension areas:</p>
					</div>
					<div class="advantages-grid__wrap">
						<div class="advantages-grid">
							<div class="advantages-col">
								<div class="advantages-card">
									<div class="advantages-card__icon">
										<svg class="icon icon-office ">
											<use xlink:href="images/sprites.svg#office"></use>
										</svg>
									</div>
									<div class="advantages-card__text">
										<p><b>Front Office &amp; Compliance</b></p>
										<p>Asset Manager, Compliance Manager (including limits on AIFMD), Order Manager, Limit Monitor, Portfolio Manager, Portfolio Workbench, Position Analysis, Rebalancing, Trade Manager, Margin Manager</p>
									</div>
								</div>
							</div>
							<div class="advantages-col">
								<div class="advantages-card">
									<div class="advantages-card__icon">
										<svg class="icon icon-management ">
											<use xlink:href="images/sprites.svg#management"></use>
										</svg>
									</div>
									<div class="advantages-card__text">
										<p><b>Data Management / Instruments valuation/ Reporting</b></p>
										<p>Instruments (including ETD &amp; OTC derivatives) pricing, data import &amp; export (Data Extractors, Data format setups, SQL, Crystal reports, message queues), key rate durations, DV01, spread duration, modified &amp; option-adjusted duration, yield curves (including UFR, EONIA, OIS, ESTR, EURIBOR, LIBOR valuation), exposure (including ESMA conventions), price checks, market data validations, market data scenarios</p>
									</div>
								</div>
							</div>
							<div class="advantages-col">
								<div class="advantages-card">
									<div class="advantages-card__icon">
										<svg class="icon icon-market ">
											<use xlink:href="images/sprites.svg#market"></use>
										</svg>
									</div>
									<div class="advantages-card__text">
										<p><b>Market Risk Management</b></p>
										<p>Risk Manager, Risk Measurement, Risk Factor Scenarios, Covariance manager, Risk factor manager, Equity return manager, VaR models: Parametric, Historical, Monte-Carlo, Delta Normal, Delta Gamma, Ex-Ante key ratios, Expected shortfalls and upsides</p>
									</div>
								</div>
							</div>
							<div class="advantages-col">
								<div class="advantages-card">
									<div class="advantages-card__icon">
										<svg class="icon icon-perfomance ">
											<use xlink:href="images/sprites.svg#perfomance"></use>
										</svg>
									</div>
									<div class="advantages-card__text">
										<p><b>Performance Management</b></p>
										<p>Model portfolios, Investment structure, Strategic Asset Allocation and Mandate (SAAM), Performance calculation, Performance Measurement, Benchmarks/Index valuations, key ratios (TWR, TE)</p>
									</div>
								</div>
							</div>
							<div class="advantages-col">
								<div class="advantages-card">
									<div class="advantages-card__icon">
										<svg class="icon icon-transaction ">
											<use xlink:href="images/sprites.svg#transaction"></use>
										</svg>
									</div>
									<div class="advantages-card__text">
										<p><b>Transaction settlement &amp; reconciliation</b></p>
										<p>General reconciliation, transaction STP flow</p>
									</div>
								</div>
							</div>
							<div class="advantages-col">
								<div class="advantages-card">
									<div class="advantages-card__icon">
										<svg class="icon icon-formula ">
											<use xlink:href="images/sprites.svg#formula"></use>
										</svg>
									</div>
									<div class="advantages-card__text">
										<p><b>Formulas</b></p>
										<p>Constructing analytics within formulas for Asset Manager, Compliance Manager, Portfolio Calculations, Data Format Setup, Data Extractor, Portfolio Manager, User Defined Key Ratios</p>
									</div>
								</div>
							</div>
							<div class="advantages-col">
								<div class="advantages-card">
									<div class="advantages-card__icon">
										<svg class="icon icon-stock-market ">
											<use xlink:href="images/sprites.svg#stock-market"></use>
										</svg>
									</div>
									<div class="advantages-card__text">
										<p><b>Look Through data import/export/analysis</b></p>
										<p>Setting up the fund decomposition profiles, analyzing the weighting methods, pricing, residuals, fund components (including derivatives) valuation: pricing, exposure, durations</p>
									</div>
								</div>
							</div>
							<div class="advantages-col">
								<div class="advantages-card">
									<div class="advantages-card__icon">
										<svg class="icon icon-operator ">
											<use xlink:href="images/sprites.svg#operator"></use>
										</svg>
									</div>
									<div class="advantages-card__text">
										<p><b>Professional services</b></p>
										<p>Testing the upgrades and patches, accelerating system performance speed (load balancing, formulas, reports), customer support: analyzing and reproducing calculation of SimCorp Dimension key ratios in Excel, answering questions regarding setup algorithms and best practice, constructing the requirement specifications for implementation of new solutions, knowledge sharing and presentations</p>
									</div>
								</div>
							</div>
							<div class="advantages-col">
								<div class="advantages-card">
									<div class="advantages-card__icon">
										<svg class="icon icon-factory ">
											<use xlink:href="images/sprites.svg#factory"></use>
										</svg>
									</div>
									<div class="advantages-card__text">
										<p><b>Automation</b></p>
										<p>Analyze what part of business operations your company still does manually/outside of Dimension. Design &amp; implement the automation solution. Measure the STP (Straight-Through-the-Process) rate before/after automation</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="about-article">
				<div class="container">
					<div class="about-article__flex">
						<div class="about-article__image"><img src="images/about.png">
							<h3 class="about-article__title">Sergii Oliinyk</h3>
							<h4 class="about-article__subtitle">Team Leader</h4>
							<p>MSc Mathematics, MSc Banking</p>
						</div>
						<div class="about-article__text">
							<p>When I was a kid my dad often took me to airport, where he was fixing the airplanes and helicopters. I clearly remember how amazed I was by seeing the number of details inside of those machines. It seemed impossible that humans can build anything like that. However, the real proud came to my heart when I saw those machines flying in the sky, and I knew that those things, that dad implemented, would help them stay safe in the air, where humans were never supposed to fly.<br> Over the years I built the experience and attention, needed to work with many details during the development process. Whether it refers to software construction, business analysis or education – in the end it is about details which make a huge difference in how far we can reach towards our dreams. The astronauts pay attention to each detail, being in the space, as each of them can save the life when humanity is exposed to the area of new and unknown.</p>
							<p>Working with SimCorp Dimension, I was lucky to meet the experts who share the same interests and inspiration in solution development and business analysis. Together we have established the Unique IT Solutions company (i.e. Unitso) in 2014.</p>
							<p>Our team of high professional experts in SimCorp Dimension system is ready to support your business strategy with exceptional knowledge and skills. Besides the maintenance and knowledge sharing, we are focused on inventing, designing and developing the innovative & new automatic solutions, which would let your business reach the bravest goals.</p>
						</div>
					</div>
				</div>
			</section>
		</div>
		<footer class="footer">
			<div class="container">
				<div class="footer-top"><a class="footer-logo" href="main.html">
						<picture>
							<source media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset="images/logo-2@x2.png"><img src="images/logo-2.png">
						</picture></a>
					<div class="footer-nav">
						<div class="footer-nav__elem"><a href="about.html">About</a></div>
						<div class="footer-nav__elem"><a href="solution.html">Solutions & Services</a></div>
						<div class="footer-nav__elem"><a href="news.html">News</a></div>
						<div class="footer-nav__elem"><a href="contacts.html">Contact</a></div>
					</div>
					<div class="footer-info__list">
						<div class="footer-info">
							<div class="footer-info__icon">
								<svg class="icon icon-pin ">
									<use xlink:href="images/sprites.svg#pin"></use>
								</svg>
							</div>
							<div class="footer-info__title">Keurenplein 41, 1069CD Amsterdam, The&nbsp;Netherlands</div>
						</div>
						<div class="footer-info">
							<div class="footer-info__icon">
								<svg class="icon icon-phone ">
									<use xlink:href="images/sprites.svg#phone"></use>
								</svg>
							</div>
							<div class="footer-info__title">+31 6 389 003 01</div>
						</div>
						<div class="footer-info">
							<div class="footer-info__icon">
								<svg class="icon icon-info ">
									<use xlink:href="images/sprites.svg#info"></use>
								</svg>
							</div>
							<div class="footer-info__title">info@unitso.com</div>
						</div>
						<div class="footer-info">
							<div class="footer-info__icon">
								<svg class="icon icon-clock ">
									<use xlink:href="images/sprites.svg#clock"></use>
								</svg>
							</div>
							<div class="footer-info__title">Mon to Fri - 09:00 to 18:00</div>
						</div>
					</div>
				</div>
				<div class="footer-bottom">
					<div class="footer-text">
						<p>Chamber of Commerce (KvK) no.: 61629642 <span>VAT number (BTW-id): NL002525228B24</span></p>
					</div><a class="footer-icon" href="https://www.linkedin.com/in/sergii-oliinyk-simcorp-dimension-expertise/" target="_blank">
						<picture>
							<source media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset="images/in@x2.png"><img src="images/in.png">
						</picture></a>
				</div>
				<div class="footer-copyright">© 2014 Unitso. All rights reserved.</div>
			</div>
		</footer>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="js/vendor.js?v=1605465540444"></script>
		<script src="js/main.js?v=1605465540444"></script>
	</body>
</html>
