build/contacts.html
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>contacts</title>
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
		<link rel="stylesheet" href="css/main.css" type="text/css">
	</head>
	<body>
		<header class="header">
			<div class="container">
				<div class="header-content"><a class="header-logo" href="main.html">
						<picture>
							<source media="(max-width: 767px)" srcset="images/logo@x2.png"/>
							<source media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset="images/logo@x2.png"/><img src="images/logo.png"/>
						</picture></a>
					<div class="header-nav">
						<div class="header-nav__elem"><a href="about.html">About</a></div>
						<div class="header-nav__elem"><a href="solution.html">Solutions & Services</a></div>
						<div class="header-nav__elem"><a href="news.html">News</a></div>
						<div class="header-nav__elem"><a href="contacts.html">Contact</a></div>
					</div>
					<div class="header-burger">
						<div class="burger js-openMenu"><i></i><i></i><i></i></div>
					</div>
				</div>
			</div>
			<div class="menu js-menu">
				<div class="menu-nav js-menuContent">
					<div class="menu-nav__elem"><a href="main.html">
							<picture>
								<source media="(max-width: 767px)" srcset="images/logo@x2.png"/>
								<source media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset="images/logo@x2.png"/><img src="images/logo.png"/>
							</picture></a></div>
					<div class="menu-nav__elem"><a href="about.html">About</a></div>
					<div class="menu-nav__elem"><a href="solution.html">Solutions & Services</a></div>
					<div class="menu-nav__elem is-active"><a href="news.html">News</a></div>
					<div class="menu-nav__elem"><a href="contacts.html">Contact</a></div>
				</div>
			</div>
		</header>
		<div class="page-bg"></div>
		<div class="page">
			<section class="page-banner margin_small">
				<div class="container">
					<h1 class="page-banner__title">Contact</h1>
					<div class="page-banner__image image_compas">
						<picture>
							<source media="(max-width: 767px)" srcset="images/compas.png"/>
							<source media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset="images/compas.png"/><img src="images/compas.png"/>
						</picture>
					</div>
				</div>
			</section>
			<section class="contacts">
				<div class="container">
					<div class="contacts-map">
						<iframe id="gmap_canvas" src="https://maps.google.com/maps?q=Keurenplein%2041%2C%201069CD%20Amsterdam&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
					</div>
					<div class="contacts-container">
						<div class="contacts-flex">
							<div class="contacts-list">
								<div class="contacts-info">
									<div class="contacts-info__icon">
										<svg class="icon icon-pin ">
											<use xlink:href="images/sprites.svg#pin"></use>
										</svg>
									</div>
									<div class="contacts-info__title">Keurenplein 41, 1069CD Amsterdam, The&nbsp;Netherlands</div>
								</div>
								<div class="contacts-info">
									<div class="contacts-info__icon">
										<svg class="icon icon-phone ">
											<use xlink:href="images/sprites.svg#phone"></use>
										</svg>
									</div>
									<div class="contacts-info__title">+31 6 389 003 01</div>
								</div>
								<div class="contacts-info">
									<div class="contacts-info__icon">
										<svg class="icon icon-info ">
											<use xlink:href="images/sprites.svg#info"></use>
										</svg>
									</div>
									<div class="contacts-info__title">info@unitso.com</div>
								</div>
								<div class="contacts-info">
									<div class="contacts-info__icon">
										<svg class="icon icon-clock ">
											<use xlink:href="images/sprites.svg#clock"></use>
										</svg>
									</div>
									<div class="contacts-info__title">Mon to Fri - 09:00 to 18:00</div>
								</div>
							</div>
							<div class="contacts-text">
								<p>Chamber of Commerce (KvK) no.: 61629642</p>
								<p>VAT number (BTW-id): NL002525228B24</p>
							</div>
						</div>
						<div class="contacts-logo__wrap"><a class="contacts-logo" href="#">
								<picture>
									<source media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset="images/in-2@x2.png"><img src="images/in-2.png">
								</picture></a></div>
					</div>
					<form class="contacts-form js-validate">
						<div class="contacts-form__flex">
							<div class="contacts-form__left">
								<div class="form-field">
									<input class="input" type="text" name="name" placeholder="Your name..." required>
								</div>
								<div class="form-field">
									<input class="input" type="email" name="email" placeholder="Your e-mail..." required>
								</div>
								<div class="form-field">
									<input class="input" type="text" name="phone" placeholder="Your phone number..." minlength="1" required>
								</div>
							</div>
							<div class="contacts-form__right">
								<div class="form-field">
									<textarea class="textarea" placeholder="Your message..." name="message" required></textarea>
								</div>
							</div>
						</div>
						<div class="contacts-form__submit">
							<button class="button" disabled type="submit"><span class="button__text">Send</span></button>
						</div>
					</form>
				</div>
			</section>
		</div>
		<footer class="footer">
			<div class="container">
				<div class="footer-top"><a class="footer-logo" href="main.html">
						<picture>
							<source media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset="images/logo-2@x2.png"><img src="images/logo-2.png">
						</picture></a>
					<div class="footer-nav">
						<div class="footer-nav__elem"><a href="about.html">About</a></div>
						<div class="footer-nav__elem"><a href="solution.html">Solutions & Services</a></div>
						<div class="footer-nav__elem"><a href="news.html">News</a></div>
						<div class="footer-nav__elem"><a href="contacts.html">Contact</a></div>
					</div>
					<div class="footer-info__list">
						<div class="footer-info">
							<div class="footer-info__icon">
								<svg class="icon icon-pin ">
									<use xlink:href="images/sprites.svg#pin"></use>
								</svg>
							</div>
							<div class="footer-info__title">Keurenplein 41, 1069CD Amsterdam, The&nbsp;Netherlands</div>
						</div>
						<div class="footer-info">
							<div class="footer-info__icon">
								<svg class="icon icon-phone ">
									<use xlink:href="images/sprites.svg#phone"></use>
								</svg>
							</div>
							<div class="footer-info__title">+31 6 389 003 01</div>
						</div>
						<div class="footer-info">
							<div class="footer-info__icon">
								<svg class="icon icon-info ">
									<use xlink:href="images/sprites.svg#info"></use>
								</svg>
							</div>
							<div class="footer-info__title">info@unitso.com</div>
						</div>
						<div class="footer-info">
							<div class="footer-info__icon">
								<svg class="icon icon-clock ">
									<use xlink:href="images/sprites.svg#clock"></use>
								</svg>
							</div>
							<div class="footer-info__title">Mon to Fri - 09:00 to 18:00</div>
						</div>
					</div>
				</div>
				<div class="footer-bottom">
					<div class="footer-text">
						<p>Chamber of Commerce (KvK) no.: 61629642 <span>VAT number (BTW-id): NL002525228B24</span></p>
					</div><a class="footer-icon" href="https://www.linkedin.com/in/sergii-oliinyk-simcorp-dimension-expertise/" target="_blank">
						<picture>
							<source media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset="images/in@x2.png"><img src="images/in.png">
						</picture></a>
				</div>
				<div class="footer-copyright">© 2014 Unitso. All rights reserved.</div>
			</div>
		</footer>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="js/vendor.js?v=1605465541262"></script>
		<script src="js/main.js?v=1605465541262"></script>
	</body>
</html>

src/templates/contacts.pug
extends _layouts/_base

append vars
	-
		var title = 'contacts'

block content
	.page-bg
	.page
		section.page-banner.margin_small
			.container
				h1.page-banner__title Contact
				.page-banner__image.image_compas
					+picture('images/compas.png', 'images/compas.png', 'images/compas.png')

		section.contacts
			.container
				.contacts-map

					iframe(id="gmap_canvas" src="https://maps.google.com/maps?q=Keurenplein%2041%2C%201069CD%20Amsterdam&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0")
				
				.contacts-container
					.contacts-flex
						.contacts-list
							.contacts-info
								.contacts-info__icon
									+icon('pin')
								.contacts-info__title Keurenplein 41, 1069CD Amsterdam, The&nbsp;Netherlands

							.contacts-info
								.contacts-info__icon
									+icon('phone')
								.contacts-info__title +31 6 389 003 01

							.contacts-info
								.contacts-info__icon
									+icon('info')
								.contacts-info__title info@unitso.com

							.contacts-info
								.contacts-info__icon
									+icon('clock')
								.contacts-info__title Mon to Fri - 09:00 to 18:00

						.contacts-text
							p Chamber of Commerce (KvK) no.: 61629642
							p VAT number (BTW-id): NL002525228B24

					.contacts-logo__wrap
						a(href="#").contacts-logo
							picture
								source(media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset="images/in-2@x2.png")
								img(src="images/in-2.png")

				form.contacts-form.js-validate
					.contacts-form__flex
						.contacts-form__left
							.form-field
								input(type="text" name="name" placeholder="Your name..." required).input

							.form-field
								input(type="email" name="email" placeholder="Your e-mail..." required).input

							.form-field
								input(type="text" name="phone" placeholder="Your phone number..." minlength="1" required).input

						.contacts-form__right
							.form-field
								textarea.textarea(placeholder="Your message..." name="message" required)

					.contacts-form__submit
						button.button(disabled type="submit")
							span.button__text Send
