build/news-detailed-1.html
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>news detailed 1</title>
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
		<link rel="stylesheet" href="css/main.css" type="text/css">
	</head>
	<body>
		<header class="header">
			<div class="container">
				<div class="header-content"><a class="header-logo" href="main.html">
						<picture>
							<source media="(max-width: 767px)" srcset="images/logo@x2.png"/>
							<source media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset="images/logo@x2.png"/><img src="images/logo.png"/>
						</picture></a>
					<div class="header-nav">
						<div class="header-nav__elem"><a href="about.html">About</a></div>
						<div class="header-nav__elem"><a href="solution.html">Solutions & Services</a></div>
						<div class="header-nav__elem"><a href="news.html">News</a></div>
						<div class="header-nav__elem"><a href="contacts.html">Contact</a></div>
					</div>
					<div class="header-burger">
						<div class="burger js-openMenu"><i></i><i></i><i></i></div>
					</div>
				</div>
			</div>
			<div class="menu js-menu">
				<div class="menu-nav js-menuContent">
					<div class="menu-nav__elem"><a href="main.html">
							<picture>
								<source media="(max-width: 767px)" srcset="images/logo@x2.png"/>
								<source media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset="images/logo@x2.png"/><img src="images/logo.png"/>
							</picture></a></div>
					<div class="menu-nav__elem"><a href="about.html">About</a></div>
					<div class="menu-nav__elem"><a href="solution.html">Solutions & Services</a></div>
					<div class="menu-nav__elem is-active"><a href="news.html">News</a></div>
					<div class="menu-nav__elem"><a href="contacts.html">Contact</a></div>
				</div>
			</div>
		</header>
		<div class="page-bg"></div>
		<div class="page">
			<div class="page-back">
				<div class="container">
					<div class="back-wrap"><a class="back" href="news.html">
							<div class="back-icon">
								<svg class="icon icon-back ">
									<use xlink:href="images/sprites.svg#back"></use>
								</svg>
							</div>
							<div class="back-text">Back</div></a></div>
				</div>
			</div>
			<section class="section section-article">
				<div class="container">
					<article class="article">
						<picture>
							<source media="(max-width: 767px)" srcset="images/mob-news-1.jpg"/>
							<source media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset="images/news-1@x2.jpg"/><img src="images/news-1.jpg"/>
						</picture>
						<h1>Our Expertise</h1>
						<div class="date">19 of July</div>
						<p>Join ou SimCorp Dimension Expertise group <a href="lnkd.in/dR-9mF8">lnkd.in/dR-9mF8</a> and feel free to ask your questions!</p>
						<p>With 14 years of experience in SimCorp Dimension system, business analysis and project management we provide you with the following advantages:</p>
						<p>Protect your interests in affairs with original system vendors</p>
						<p>Be faster and more flexible than your competitors, using 24/7 Online SimCorp Dimension Support &amp; Development service</p>
						<p>Take an advantage of the high quality expertise from certified professionals</p>
						<p>Benefit from full control over budgeting &amp; planning, using the “expected development &amp; implementation time/costs plan” for projects</p>
						<p>Gain from SimCorp Dimension knowledge sharing for your employees</p>
						<p>Get the reliable, fast and effective support for delivered solutions</p>
						<p>Enjoy the full control over tasks’ status: with regular progress updates in your task tracking system</p>
						<p>SimCorp Dimension expertise areas:</p>
						<p>Front Office:<br> Asset Manager, Compliance Manager, Portfolio Manager, Rebalancing, index derivatives &amp; funds decomposition flow, data imports, formulas</p>
						<p>Middle office: <br> Performance Calculation/Measurement/Manager, Index and Benchmark, Contributions, Modelling, Strategic asset allocation and mandates, Risk Measurement/Manager (Monte- Carlo/Historical/Parametric (Delta-Normal)/Ex-Ante Value-at-Risk (VaR) models, delta vectors, market Exposure measurement methodologies), Market Data Scenarios, Risk Factor scenarios, market data stress tests</p>
						<p>Back office:<br> Settlement STP, Portfolio Calculations, formulas, reporting (Data extractor, Crystal Reports, SQL)</p>
						<p>System upgrades <br> System performance improvement, automation of system processes, upgrade &amp; new functionality tests</p>
						<p>Pricing <br> Instrument pricing models: fixed income, equities: derivatives &amp; funds (Look Through). Pricing profiles, yield curves, theoretical valuation, risk and duration related pricing models, market data validation, funds/Look Through pricing, FX rate profiles and updater, volatility curves</p>
						<p>Special automatic offers in SimCorp Dimension system:</p>
						<ul class="ul">
							<li>LDI hedge strategy</li>
							<li>Cash Flows forecast (incl. derivatives, funds (Look Through)) engine</li>
							<li>Index Tracking &amp; Portfolio rebalancing</li>
							<li>Currency overlay (FX risk hedging)</li>
							<li>GIPS, Solvency, AIFMD, FTK reports</li>
							<li>Duration calculations: DV01, CSD, OAD, MD, KRD</li>
							<li>IRS swap (OIS, EONIA, ESTER), Swaption, Bond Forward (OTC) daily pricing, UFR</li>
							<li>Data management</li>
							<li>System performance</li>
						</ul>
					</article>
				</div>
			</section>
		</div>
		<footer class="footer">
			<div class="container">
				<div class="footer-top"><a class="footer-logo" href="main.html">
						<picture>
							<source media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset="images/logo-2@x2.png"><img src="images/logo-2.png">
						</picture></a>
					<div class="footer-nav">
						<div class="footer-nav__elem"><a href="about.html">About</a></div>
						<div class="footer-nav__elem"><a href="solution.html">Solutions & Services</a></div>
						<div class="footer-nav__elem"><a href="news.html">News</a></div>
						<div class="footer-nav__elem"><a href="contacts.html">Contact</a></div>
					</div>
					<div class="footer-info__list">
						<div class="footer-info">
							<div class="footer-info__icon">
								<svg class="icon icon-pin ">
									<use xlink:href="images/sprites.svg#pin"></use>
								</svg>
							</div>
							<div class="footer-info__title">Keurenplein 41, 1069CD Amsterdam, The&nbsp;Netherlands</div>
						</div>
						<div class="footer-info">
							<div class="footer-info__icon">
								<svg class="icon icon-phone ">
									<use xlink:href="images/sprites.svg#phone"></use>
								</svg>
							</div>
							<div class="footer-info__title">+31 6 389 003 01</div>
						</div>
						<div class="footer-info">
							<div class="footer-info__icon">
								<svg class="icon icon-info ">
									<use xlink:href="images/sprites.svg#info"></use>
								</svg>
							</div>
							<div class="footer-info__title">info@unitso.com</div>
						</div>
						<div class="footer-info">
							<div class="footer-info__icon">
								<svg class="icon icon-clock ">
									<use xlink:href="images/sprites.svg#clock"></use>
								</svg>
							</div>
							<div class="footer-info__title">Mon to Fri - 09:00 to 18:00</div>
						</div>
					</div>
				</div>
				<div class="footer-bottom">
					<div class="footer-text">
						<p>Chamber of Commerce (KvK) no.: 61629642 <span>VAT number (BTW-id): NL002525228B24</span></p>
					</div><a class="footer-icon" href="https://www.linkedin.com/in/sergii-oliinyk-simcorp-dimension-expertise/" target="_blank">
						<picture>
							<source media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset="images/in@x2.png"><img src="images/in.png">
						</picture></a>
				</div>
				<div class="footer-copyright">© 2014 Unitso. All rights reserved.</div>
			</div>
		</footer>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="js/vendor.js?v=1605465546572"></script>
		<script src="js/main.js?v=1605465546572"></script>
	</body>
</html>

src/templates/news-detailed-1.pug
extends _layouts/_base

append vars
	-
		var title = 'news detailed 1'

block content
	.page-bg
	.page
		.page-back
			.container
				.back-wrap
					a(href="news.html").back
						.back-icon
							+icon('back')
						.back-text Back

		section.section.section-article
			.container
				article.article
					+picture('images/news-1.jpg', 'images/news-1@x2.jpg', 'images/mob-news-1.jpg')

					h1 Our Expertise

					.date 19 of July

					p Join ou SimCorp Dimension Expertise group <a href="lnkd.in/dR-9mF8">lnkd.in/dR-9mF8</a> and feel free to ask your questions!
					p With 14 years of experience in SimCorp Dimension system, business analysis and project management we provide you with the following advantages:
					p Protect your interests in affairs with original system vendors
					p Be faster and more flexible than your competitors, using 24/7 Online SimCorp Dimension Support &amp; Development service
					p Take an advantage of the high quality expertise from certified professionals
					p Benefit from full control over budgeting &amp; planning, using the “expected development &amp; implementation time/costs plan” for projects
					p Gain from SimCorp Dimension knowledge sharing for your employees
					p Get the reliable, fast and effective support for delivered solutions
					p Enjoy the full control over tasks’ status: with regular progress updates in your task tracking system
					p SimCorp Dimension expertise areas:
					p Front Office:<br> Asset Manager, Compliance Manager, Portfolio Manager, Rebalancing, index derivatives &amp; funds decomposition flow, data imports, formulas

					p Middle office: <br> Performance Calculation/Measurement/Manager, Index and Benchmark, Contributions, Modelling, Strategic asset allocation and mandates, Risk Measurement/Manager (Monte- Carlo/Historical/Parametric (Delta-Normal)/Ex-Ante Value-at-Risk (VaR) models, delta vectors, market Exposure measurement methodologies), Market Data Scenarios, Risk Factor scenarios, market data stress tests

					p Back office:<br> Settlement STP, Portfolio Calculations, formulas, reporting (Data extractor, Crystal Reports, SQL)
					p System upgrades <br> System performance improvement, automation of system processes, upgrade &amp; new functionality tests
					p Pricing <br> Instrument pricing models: fixed income, equities: derivatives &amp; funds (Look Through). Pricing profiles, yield curves, theoretical valuation, risk and duration related pricing models, market data validation, funds/Look Through pricing, FX rate profiles and updater, volatility curves
					p Special automatic offers in SimCorp Dimension system:
					ul.ul
						li LDI hedge strategy
						li Cash Flows forecast (incl. derivatives, funds (Look Through)) engine
						li Index Tracking &amp; Portfolio rebalancing
						li Currency overlay (FX risk hedging)
						li GIPS, Solvency, AIFMD, FTK reports
						li Duration calculations: DV01, CSD, OAD, MD, KRD
						li IRS swap (OIS, EONIA, ESTER), Swaption, Bond Forward (OTC) daily pricing, UFR
						li Data management
						li System performance
