src/templates/news.pug
extends _layouts/_base

append vars
	-
		var title = 'news'

block content
	.page-bg
	.page
		section.page-banner
			.container
				h1.page-banner__title.mob_margin_top News
				.page-banner__image.image_bird
					+picture('images/bird.png', 'images/bird@x2.png', 'images/mob-bird.png')

		section.news
			.container
				.news-list
					a(href="news-detailed-1.html").news-elem
						.news-elem__image
							+picture('images/news-1.jpg', 'images/news-1@x2.jpg', 'images/mob-news-1.jpg')

						.news-elem__content
							h3.news-elem__title SimCorp A/S - Share buyback program
							.date 19 of July
							.news-elem__text
								p I’m not generally good at doing nothing. I’m a time-management and productivity expert, and I also have five children; I’m almost never idle.

							.news-elem__link
								.link.has_icon
									.link-text see more
									.link-icon
										+icon('arrow-link')

					a(href="news-detailed-2.html").news-elem
						.news-elem__image.style_video
							+picture('images/news-1.jpg', 'images/news-1@x2.jpg', 'images/mob-news-1.jpg')
							.play
								+icon('play')

						.news-elem__content
							h3.news-elem__title SimCorp A/S - Share buyback program
							.date 01 of July
							.news-elem__text
								p I’m not generally good at doing nothing. I’m a time-management and productivity expert, and I also have five children; I’m almost never idle.

							.news-elem__link
								.link.has_icon
									.link-text see more
									.link-icon
										+icon('arrow-link')

					a(href="news-detailed-1.html").news-elem
						.news-elem__image
							+picture('images/news-1.jpg', 'images/news-1@x2.jpg', 'images/mob-news-1.jpg')

						.news-elem__content
							h3.news-elem__title SimCorp A/S - Share buyback program
							.date 19 of July
							.news-elem__text
								p I’m not generally good at doing nothing. I’m a time-management and productivity expert, and I also have five children; I’m almost never idle.

							.news-elem__link
								.link.has_icon
									.link-text see more
									.link-icon
										+icon('arrow-link')

					a(href="news-detailed-2.html").news-elem
						.news-elem__image.style_video
							+picture('images/news-1.jpg', 'images/news-1@x2.jpg', 'images/mob-news-1.jpg')
							.play
								+icon('play')

						.news-elem__content
							h3.news-elem__title SimCorp A/S - Share buyback program
							.date 01 of July
							.news-elem__text
								p I’m not generally good at doing nothing. I’m a time-management and productivity expert, and I also have five children; I’m almost never idle.

							.news-elem__link
								.link.has_icon
									.link-text see more
									.link-icon
										+icon('arrow-link')

				.page-pagination
					a(href="#").swiper-prev.disabled
						svg(width="22" height="10" viewBox="0 0 22 10" fill="none" xmlns="http://www.w3.org/2000/svg")
							path(d="M1 4.75H20.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
							path(d="M1 4.75L4 1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
							path(d="M1 4.75L4 8.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

					a(href="#").swiper-next
						svg(width="22" height="10" viewBox="0 0 22 10" fill="none" xmlns="http://www.w3.org/2000/svg")
							path(d="M21 4.75H1.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
							path(d="M21 4.75L18 1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
							path(d="M21 4.75L18 8.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

build/news.html
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>news</title>
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
		<link rel="stylesheet" href="css/main.css" type="text/css">
	</head>
	<body>
		<header class="header">
			<div class="container">
				<div class="header-content"><a class="header-logo" href="main.html">
						<picture>
							<source media="(max-width: 767px)" srcset="images/logo@x2.png"/>
							<source media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset="images/logo@x2.png"/><img src="images/logo.png"/>
						</picture></a>
					<div class="header-nav">
						<div class="header-nav__elem"><a href="about.html">About</a></div>
						<div class="header-nav__elem"><a href="solution.html">Solutions & Services</a></div>
						<div class="header-nav__elem"><a href="news.html">News</a></div>
						<div class="header-nav__elem"><a href="contacts.html">Contact</a></div>
					</div>
					<div class="header-burger">
						<div class="burger js-openMenu"><i></i><i></i><i></i></div>
					</div>
				</div>
			</div>
			<div class="menu js-menu">
				<div class="menu-nav js-menuContent">
					<div class="menu-nav__elem"><a href="main.html">
							<picture>
								<source media="(max-width: 767px)" srcset="images/logo@x2.png"/>
								<source media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset="images/logo@x2.png"/><img src="images/logo.png"/>
							</picture></a></div>
					<div class="menu-nav__elem"><a href="about.html">About</a></div>
					<div class="menu-nav__elem"><a href="solution.html">Solutions & Services</a></div>
					<div class="menu-nav__elem is-active"><a href="news.html">News</a></div>
					<div class="menu-nav__elem"><a href="contacts.html">Contact</a></div>
				</div>
			</div>
		</header>
		<div class="page-bg"></div>
		<div class="page">
			<section class="page-banner">
				<div class="container">
					<h1 class="page-banner__title mob_margin_top">News</h1>
					<div class="page-banner__image image_bird">
						<picture>
							<source media="(max-width: 767px)" srcset="images/mob-bird.png"/>
							<source media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset="images/bird@x2.png"/><img src="images/bird.png"/>
						</picture>
					</div>
				</div>
			</section>
			<section class="news">
				<div class="container">
					<div class="news-list"><a class="news-elem" href="news-detailed-1.html">
							<div class="news-elem__image">
								<picture>
									<source media="(max-width: 767px)" srcset="images/mob-news-1.jpg"/>
									<source media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset="images/news-1@x2.jpg"/><img src="images/news-1.jpg"/>
								</picture>
							</div>
							<div class="news-elem__content">
								<h3 class="news-elem__title">SimCorp A/S - Share buyback program</h3>
								<div class="date">19 of July</div>
								<div class="news-elem__text">
									<p>I’m not generally good at doing nothing. I’m a time-management and productivity expert, and I also have five children; I’m almost never idle.</p>
								</div>
								<div class="news-elem__link">
									<div class="link has_icon">
										<div class="link-text">see more</div>
										<div class="link-icon">
											<svg class="icon icon-arrow-link ">
												<use xlink:href="images/sprites.svg#arrow-link"></use>
											</svg>
										</div>
									</div>
								</div>
							</div></a><a class="news-elem" href="news-detailed-2.html">
							<div class="news-elem__image style_video">
								<picture>
									<source media="(max-width: 767px)" srcset="images/mob-news-1.jpg"/>
									<source media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset="images/news-1@x2.jpg"/><img src="images/news-1.jpg"/>
								</picture>
								<div class="play">
									<svg class="icon icon-play ">
										<use xlink:href="images/sprites.svg#play"></use>
									</svg>
								</div>
							</div>
							<div class="news-elem__content">
								<h3 class="news-elem__title">SimCorp A/S - Share buyback program</h3>
								<div class="date">01 of July</div>
								<div class="news-elem__text">
									<p>I’m not generally good at doing nothing. I’m a time-management and productivity expert, and I also have five children; I’m almost never idle.</p>
								</div>
								<div class="news-elem__link">
									<div class="link has_icon">
										<div class="link-text">see more</div>
										<div class="link-icon">
											<svg class="icon icon-arrow-link ">
												<use xlink:href="images/sprites.svg#arrow-link"></use>
											</svg>
										</div>
									</div>
								</div>
							</div></a><a class="news-elem" href="news-detailed-1.html">
							<div class="news-elem__image">
								<picture>
									<source media="(max-width: 767px)" srcset="images/mob-news-1.jpg"/>
									<source media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset="images/news-1@x2.jpg"/><img src="images/news-1.jpg"/>
								</picture>
							</div>
							<div class="news-elem__content">
								<h3 class="news-elem__title">SimCorp A/S - Share buyback program</h3>
								<div class="date">19 of July</div>
								<div class="news-elem__text">
									<p>I’m not generally good at doing nothing. I’m a time-management and productivity expert, and I also have five children; I’m almost never idle.</p>
								</div>
								<div class="news-elem__link">
									<div class="link has_icon">
										<div class="link-text">see more</div>
										<div class="link-icon">
											<svg class="icon icon-arrow-link ">
												<use xlink:href="images/sprites.svg#arrow-link"></use>
											</svg>
										</div>
									</div>
								</div>
							</div></a><a class="news-elem" href="news-detailed-2.html">
							<div class="news-elem__image style_video">
								<picture>
									<source media="(max-width: 767px)" srcset="images/mob-news-1.jpg"/>
									<source media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset="images/news-1@x2.jpg"/><img src="images/news-1.jpg"/>
								</picture>
								<div class="play">
									<svg class="icon icon-play ">
										<use xlink:href="images/sprites.svg#play"></use>
									</svg>
								</div>
							</div>
							<div class="news-elem__content">
								<h3 class="news-elem__title">SimCorp A/S - Share buyback program</h3>
								<div class="date">01 of July</div>
								<div class="news-elem__text">
									<p>I’m not generally good at doing nothing. I’m a time-management and productivity expert, and I also have five children; I’m almost never idle.</p>
								</div>
								<div class="news-elem__link">
									<div class="link has_icon">
										<div class="link-text">see more</div>
										<div class="link-icon">
											<svg class="icon icon-arrow-link ">
												<use xlink:href="images/sprites.svg#arrow-link"></use>
											</svg>
										</div>
									</div>
								</div>
							</div></a></div>
					<div class="page-pagination"><a class="swiper-prev disabled" href="#">
							<svg width="22" height="10" viewBox="0 0 22 10" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1 4.75H20.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
								<path d="M1 4.75L4 1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
								<path d="M1 4.75L4 8.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
							</svg></a><a class="swiper-next" href="#">
							<svg width="22" height="10" viewBox="0 0 22 10" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M21 4.75H1.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
								<path d="M21 4.75L18 1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
								<path d="M21 4.75L18 8.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
							</svg></a></div>
				</div>
			</section>
		</div>
		<footer class="footer">
			<div class="container">
				<div class="footer-top"><a class="footer-logo" href="main.html">
						<picture>
							<source media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset="images/logo-2@x2.png"><img src="images/logo-2.png">
						</picture></a>
					<div class="footer-nav">
						<div class="footer-nav__elem"><a href="about.html">About</a></div>
						<div class="footer-nav__elem"><a href="solution.html">Solutions & Services</a></div>
						<div class="footer-nav__elem"><a href="news.html">News</a></div>
						<div class="footer-nav__elem"><a href="contacts.html">Contact</a></div>
					</div>
					<div class="footer-info__list">
						<div class="footer-info">
							<div class="footer-info__icon">
								<svg class="icon icon-pin ">
									<use xlink:href="images/sprites.svg#pin"></use>
								</svg>
							</div>
							<div class="footer-info__title">Keurenplein 41, 1069CD Amsterdam, The&nbsp;Netherlands</div>
						</div>
						<div class="footer-info">
							<div class="footer-info__icon">
								<svg class="icon icon-phone ">
									<use xlink:href="images/sprites.svg#phone"></use>
								</svg>
							</div>
							<div class="footer-info__title">+31 6 389 003 01</div>
						</div>
						<div class="footer-info">
							<div class="footer-info__icon">
								<svg class="icon icon-info ">
									<use xlink:href="images/sprites.svg#info"></use>
								</svg>
							</div>
							<div class="footer-info__title">info@unitso.com</div>
						</div>
						<div class="footer-info">
							<div class="footer-info__icon">
								<svg class="icon icon-clock ">
									<use xlink:href="images/sprites.svg#clock"></use>
								</svg>
							</div>
							<div class="footer-info__title">Mon to Fri - 09:00 to 18:00</div>
						</div>
					</div>
				</div>
				<div class="footer-bottom">
					<div class="footer-text">
						<p>Chamber of Commerce (KvK) no.: 61629642 <span>VAT number (BTW-id): NL002525228B24</span></p>
					</div><a class="footer-icon" href="https://www.linkedin.com/in/sergii-oliinyk-simcorp-dimension-expertise/" target="_blank">
						<picture>
							<source media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset="images/in@x2.png"><img src="images/in.png">
						</picture></a>
				</div>
				<div class="footer-copyright">© 2014 Unitso. All rights reserved.</div>
			</div>
		</footer>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="js/vendor.js?v=1605465546713"></script>
		<script src="js/main.js?v=1605465546713"></script>
	</body>
</html>
