src/templates/news-detailed-2.pug
extends _layouts/_base

append vars
	-
		var title = 'news  detailed 2'

block content
	.page-bg
	.page
		.page-back
			.container
				.back-wrap
					a(href="news.html").back
						.back-icon
							+icon('back')
						.back-text Back

		section.section.section-article
			.container
				article.article
					.video-wrap.js-videoAboutWrap
						.video-item.js-videoAbout
							iframe(src="https://www.youtube.com/embed/1Fx13eQJgYU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

					h1 Unitso

					.date 19 of July

					p During this assignment I have a pleasure to cooperate with a team of strong experts in the financial risk and performance management areas. On a daily basis we develop and provide the reliable solutions, as well as a solid consultancy expertise to our clients world-wide. The creativity and innovation way of thinking is a core of our success.

					p Experience: <br> Develop &amp; Automate the financial risk reports in SimCorp Dimension: LDI, risk concentration and decomposition, investment structures and SAAM, modelling, TWR and volatility measurements, market data stress scenarios, duration related ratios, Portfolio Calculations setups

					p Crystal Reports engineering <br> AIFMD / Solvency/ FTK reporting automation &amp; compliance

					p Data management solutions: automation of data validation &amp; valuation, optimization of setups, pricing methods and pricing profiles, Look Through funds data &amp; decomposition algorithms, auxiliary market data, yield curves (ESTER, EONIA, UFR), IBOR / ABOR consistency, automatic data import &amp; export, financial instruments valuation

					p Performance and risk measurements: indexes and benchmarks setups, return calculations, VaR, TWR, automation

					p #simcorpdimension #businessconsultancy #unitso

build/news-detailed-2.html
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>news  detailed 2</title>
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
		<link rel="stylesheet" href="css/main.css" type="text/css">
	</head>
	<body>
		<header class="header">
			<div class="container">
				<div class="header-content"><a class="header-logo" href="main.html">
						<picture>
							<source media="(max-width: 767px)" srcset="images/logo@x2.png"/>
							<source media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset="images/logo@x2.png"/><img src="images/logo.png"/>
						</picture></a>
					<div class="header-nav">
						<div class="header-nav__elem"><a href="about.html">About</a></div>
						<div class="header-nav__elem"><a href="solution.html">Solutions & Services</a></div>
						<div class="header-nav__elem"><a href="news.html">News</a></div>
						<div class="header-nav__elem"><a href="contacts.html">Contact</a></div>
					</div>
					<div class="header-burger">
						<div class="burger js-openMenu"><i></i><i></i><i></i></div>
					</div>
				</div>
			</div>
			<div class="menu js-menu">
				<div class="menu-nav js-menuContent">
					<div class="menu-nav__elem"><a href="main.html">
							<picture>
								<source media="(max-width: 767px)" srcset="images/logo@x2.png"/>
								<source media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset="images/logo@x2.png"/><img src="images/logo.png"/>
							</picture></a></div>
					<div class="menu-nav__elem"><a href="about.html">About</a></div>
					<div class="menu-nav__elem"><a href="solution.html">Solutions & Services</a></div>
					<div class="menu-nav__elem is-active"><a href="news.html">News</a></div>
					<div class="menu-nav__elem"><a href="contacts.html">Contact</a></div>
				</div>
			</div>
		</header>
		<div class="page-bg"></div>
		<div class="page">
			<div class="page-back">
				<div class="container">
					<div class="back-wrap"><a class="back" href="news.html">
							<div class="back-icon">
								<svg class="icon icon-back ">
									<use xlink:href="images/sprites.svg#back"></use>
								</svg>
							</div>
							<div class="back-text">Back</div></a></div>
				</div>
			</div>
			<section class="section section-article">
				<div class="container">
					<article class="article">
						<div class="video-wrap js-videoAboutWrap">
							<div class="video-item js-videoAbout">
								<iframe src="https://www.youtube.com/embed/1Fx13eQJgYU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
						</div>
						<h1>Unitso</h1>
						<div class="date">19 of July</div>
						<p>During this assignment I have a pleasure to cooperate with a team of strong experts in the financial risk and performance management areas. On a daily basis we develop and provide the reliable solutions, as well as a solid consultancy expertise to our clients world-wide. The creativity and innovation way of thinking is a core of our success.</p>
						<p>Experience: <br> Develop &amp; Automate the financial risk reports in SimCorp Dimension: LDI, risk concentration and decomposition, investment structures and SAAM, modelling, TWR and volatility measurements, market data stress scenarios, duration related ratios, Portfolio Calculations setups</p>
						<p>Crystal Reports engineering <br> AIFMD / Solvency/ FTK reporting automation &amp; compliance</p>
						<p>Data management solutions: automation of data validation &amp; valuation, optimization of setups, pricing methods and pricing profiles, Look Through funds data &amp; decomposition algorithms, auxiliary market data, yield curves (ESTER, EONIA, UFR), IBOR / ABOR consistency, automatic data import &amp; export, financial instruments valuation</p>
						<p>Performance and risk measurements: indexes and benchmarks setups, return calculations, VaR, TWR, automation</p>
						<p>#simcorpdimension #businessconsultancy #unitso</p>
					</article>
				</div>
			</section>
		</div>
		<footer class="footer">
			<div class="container">
				<div class="footer-top"><a class="footer-logo" href="main.html">
						<picture>
							<source media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset="images/logo-2@x2.png"><img src="images/logo-2.png">
						</picture></a>
					<div class="footer-nav">
						<div class="footer-nav__elem"><a href="about.html">About</a></div>
						<div class="footer-nav__elem"><a href="solution.html">Solutions & Services</a></div>
						<div class="footer-nav__elem"><a href="news.html">News</a></div>
						<div class="footer-nav__elem"><a href="contacts.html">Contact</a></div>
					</div>
					<div class="footer-info__list">
						<div class="footer-info">
							<div class="footer-info__icon">
								<svg class="icon icon-pin ">
									<use xlink:href="images/sprites.svg#pin"></use>
								</svg>
							</div>
							<div class="footer-info__title">Keurenplein 41, 1069CD Amsterdam, The&nbsp;Netherlands</div>
						</div>
						<div class="footer-info">
							<div class="footer-info__icon">
								<svg class="icon icon-phone ">
									<use xlink:href="images/sprites.svg#phone"></use>
								</svg>
							</div>
							<div class="footer-info__title">+31 6 389 003 01</div>
						</div>
						<div class="footer-info">
							<div class="footer-info__icon">
								<svg class="icon icon-info ">
									<use xlink:href="images/sprites.svg#info"></use>
								</svg>
							</div>
							<div class="footer-info__title">info@unitso.com</div>
						</div>
						<div class="footer-info">
							<div class="footer-info__icon">
								<svg class="icon icon-clock ">
									<use xlink:href="images/sprites.svg#clock"></use>
								</svg>
							</div>
							<div class="footer-info__title">Mon to Fri - 09:00 to 18:00</div>
						</div>
					</div>
				</div>
				<div class="footer-bottom">
					<div class="footer-text">
						<p>Chamber of Commerce (KvK) no.: 61629642 <span>VAT number (BTW-id): NL002525228B24</span></p>
					</div><a class="footer-icon" href="https://www.linkedin.com/in/sergii-oliinyk-simcorp-dimension-expertise/" target="_blank">
						<picture>
							<source media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset="images/in@x2.png"><img src="images/in.png">
						</picture></a>
				</div>
				<div class="footer-copyright">© 2014 Unitso. All rights reserved.</div>
			</div>
		</footer>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="js/vendor.js?v=1605465546625"></script>
		<script src="js/main.js?v=1605465546625"></script>
	</body>
</html>
