build/solution-validate.html
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Solution-validate</title>
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
		<link rel="stylesheet" href="css/main.css" type="text/css">
	</head>
	<body>
		<header class="header">
			<div class="container">
				<div class="header-content"><a class="header-logo" href="main.html">
						<picture>
							<source media="(max-width: 767px)" srcset="images/logo@x2.png"/>
							<source media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset="images/logo@x2.png"/><img src="images/logo.png"/>
						</picture></a>
					<div class="header-nav">
						<div class="header-nav__elem"><a href="about.html">About</a></div>
						<div class="header-nav__elem"><a href="solution.html">Solutions & Services</a></div>
						<div class="header-nav__elem"><a href="news.html">News</a></div>
						<div class="header-nav__elem"><a href="contacts.html">Contact</a></div>
					</div>
					<div class="header-burger">
						<div class="burger js-openMenu"><i></i><i></i><i></i></div>
					</div>
				</div>
			</div>
			<div class="menu js-menu">
				<div class="menu-nav js-menuContent">
					<div class="menu-nav__elem"><a href="main.html">
							<picture>
								<source media="(max-width: 767px)" srcset="images/logo@x2.png"/>
								<source media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset="images/logo@x2.png"/><img src="images/logo.png"/>
							</picture></a></div>
					<div class="menu-nav__elem"><a href="about.html">About</a></div>
					<div class="menu-nav__elem"><a href="solution.html">Solutions & Services</a></div>
					<div class="menu-nav__elem is-active"><a href="news.html">News</a></div>
					<div class="menu-nav__elem"><a href="contacts.html">Contact</a></div>
				</div>
			</div>
		</header>
		<div class="page-bg"></div>
		<div class="page">
			<section class="page-banner">
				<div class="container">
					<h1 class="page-banner__title size_small">Solutions &amp; Services</h1>
					<div class="page-banner__image style_solution"><img src="images/solution-banner.png" alt=""></div>
				</div>
			</section>
			<section class="section-solution">
				<div class="container">
					<div class="solution-tabs"><a class="solution-tab is-active" href="#">enable <br>growth</a><a class="solution-tab" href="get-expertise.html">get expertise</a><a class="solution-tab" href="reduce-costs.html">reduce costs</a><a class="solution-tab" href="meet-expectations.html">meet expectations</a></div>
					<div class="solution-buttons">
						<div class="solution-slider js-solutionSlider">
							<div class="swiper-container">
								<div class="swiper-wrapper">
									<div class="swiper-slide"><a class="solution-button" href="solution.html">New SimCorp Dimension task/project</a><a class="solution-button" href="solution-onlinesimcorp.html">Online SimCorp Dimension<br> Support & Development</a><a class="solution-button" href="solution-project-planning.html">Project planning</a><a class="solution-button is-active" href="solution-validate.html">Validate/Audit concept:</a></div>
									<div class="swiper-slide"><a class="solution-button" href="#">System performance</a><a class="solution-button" href="#">LDI hedging engine: KRD, DV01</a><a class="solution-button" href="#">Currency (FX) risk hedging engine</a><a class="solution-button" href="#">Index Tracking &amp; Portfolio Rebalancing engine</a></div>
									<div class="swiper-slide"><a class="solution-button" href="#">Cash flow forecast engine: matching, CDI</a><a class="solution-button" href="#">Bond Forward (OTC) daily pricing engine</a><a class="solution-button" href="#">Automatic data management</a></div>
								</div>
							</div>
							<div class="reviews-slider__nav">
								<div class="swiper-prev">
									<svg width="22" height="10" viewBox="0 0 22 10" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M1 4.75H20.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
										<path d="M1 4.75L4 1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
										<path d="M1 4.75L4 8.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
									</svg>
								</div>
								<div class="swiper-next">
									<svg width="22" height="10" viewBox="0 0 22 10" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M21 4.75H1.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
										<path d="M21 4.75L18 1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
										<path d="M21 4.75L18 8.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
									</svg>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="section-solution">
				<div class="container">
					<div class="solution-about">
						<h2 class="solution-title">Index Tracking & Portfolio Rebalancing engine</h2>
						<div class="solution-text">
							<p>You have a brilliant team of own experts, who come up with a new concept for innovation or a project to be developed in SimCorp Dimension. However, you would like to be sure that the proposed concept/solution is the optimal one. Based on our years of experience in SimCorp Dimension system, we are ready to provide you with our new Validate the concept/Audit service.</p>
							<p>We will ensure that all details and capabilities of Dimension are taken into account during concept definition, and will assist your specialists with our strong expertise in order to make the right decision.</p>
						</div>
						<div class="solution-container">
							<div class="solution-list">
								<div class="solution-elem">
									<div class="solution-elem__head">
										<div class="solution-elem__icon">
											<svg class="icon icon-fast ">
												<use xlink:href="images/sprites.svg#fast"></use>
											</svg>
										</div>
										<h3 class="solution-elem__title">Reliability</h3>
									</div>
									<div class="solution-elem__body">
										<p>The independent opinion is a strong advantage that contributes into making the optimal and reliable business decisions</p>
									</div>
								</div>
								<div class="solution-elem">
									<div class="solution-elem__head">
										<div class="solution-elem__icon">
											<svg class="icon icon-scaleble ">
												<use xlink:href="images/sprites.svg#scaleble"></use>
											</svg>
										</div>
										<h3 class="solution-elem__title">Beneficial</h3>
									</div>
									<div class="solution-elem__body">
										<p>We will ensure that the needed knowledge is shared with your specialists regarding further maintenance and evolution of the chosen concept</p>
									</div>
								</div>
								<div class="solution-elem">
									<div class="solution-elem__head">
										<div class="solution-elem__icon">
											<svg class="icon icon-quality ">
												<use xlink:href="images/sprites.svg#quality"></use>
											</svg>
										</div>
										<h3 class="solution-elem__title">High-Quality</h3>
									</div>
									<div class="solution-elem__body">
										<p>Our deep expertise in SimCorp Dimension functionality will help you to avoid the unexpected issues in the chosen concep</p>
									</div>
								</div>
							</div>
							<div class="solution-dropbox">
								<div class="dropbox-body js-dropBoxBody" style="display: none">
									<ul class="ul">
										<li>Analyze the business goal and available requirement specification</li>
										<li>Based on SimCorp Dimension capabilities and functionality, we define the possible solutions with pros and cons</li>
										<li>Compare the possible solutions with the client solution in order to identify the strong and weak sides</li>
										<li>Make a choice regarding the best decision</li>
									</ul>
								</div>
							</div>
							<div class="solution-bottom">
								<div class="solution-buttons__flex"><a class="button style_border js-toggleDropBox" href="javascript:;"><span class="button__text">Details
											<div class="button__icon">
												<svg class="icon icon-arrow-top ">
													<use xlink:href="images/sprites.svg#arrow-top"></use>
												</svg>
											</div></span></a><a class="button js-modalLink" href="javascript:;" data-mfp-src="#modalForm"><span class="button__text">Order</span></a></div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<div class="modal modal-form mfp-hide" id="modalForm">
			<div class="modal-box"><a class="modal-close js-modalClose" href="javascript:;">
					<svg class="icon icon-close ">
						<use xlink:href="images/sprites.svg#close"></use>
					</svg></a>
				<div class="modal-head">
					<h3 class="modal-title">Make an order</h3>
				</div>
				<form class="modal-form js-validate">
					<div class="modal-form__flex">
						<div class="modal-form__left">
							<div class="form-field">
								<input class="input" type="text" name="name" placeholder="Your name..." required>
							</div>
							<div class="form-field">
								<input class="input" type="email" name="email" placeholder="Your e-mail..." required>
							</div>
							<div class="form-field">
								<input class="input" type="text" name="phone" placeholder="Your phone number..." required>
							</div>
						</div>
						<div class="modal-form__right">
							<div class="form-field">
								<textarea class="textarea" placeholder="Your message..." name="message" required></textarea>
							</div>
						</div>
					</div>
					<div class="form-field">
						<select class="form-select js-select2Single" data-placeholder="Choose product..." name="product" required>
							<option></option>
							<option value="0">New SimCorp Dimension task/project</option>
							<option value="1">Online SimCorp Dimension support &amp; development</option>
							<option value="2">Project planning</option>
							<option value="3">Validate/Audit the concept</option>
							<option value="4">Professional services</option>
							<option value="5">System performance</option>
							<option value="6">LDI hedging engine: KRD, DV01</option>
							<option value="7">Currency (FX) risk hedging engine</option>
							<option value="8">Index Tracking &amp; Portfolio Rebalancing engine</option>
							<option value="9">Cash flow forecast engine: matching, CDI</option>
							<option value="10">Duration calculation engine: DV01, CSD, OAD, MD, KRD</option>
							<option value="11">IRS swap daily pricing engine</option>
							<option value="12">Bond Forward (OTC) daily pricing engine</option>
							<option value="13">UFR Yield Curve expertise</option>
							<option value="14">GIPS reporting engine</option>
							<option value="15">Swaption (OTC) daily pricing engine</option>
							<option value="16">Automatic data management</option>
							<option value="17">Other</option>
						</select>
					</div>
					<div class="modal-form__submit">
						<button class="button" type="submit"><span class="button__text">Send</span></button>
					</div>
				</form>
			</div>
		</div>
		<footer class="footer">
			<div class="container">
				<div class="footer-top"><a class="footer-logo" href="main.html">
						<picture>
							<source media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset="images/logo-2@x2.png"><img src="images/logo-2.png">
						</picture></a>
					<div class="footer-nav">
						<div class="footer-nav__elem"><a href="about.html">About</a></div>
						<div class="footer-nav__elem"><a href="solution.html">Solutions & Services</a></div>
						<div class="footer-nav__elem"><a href="news.html">News</a></div>
						<div class="footer-nav__elem"><a href="contacts.html">Contact</a></div>
					</div>
					<div class="footer-info__list">
						<div class="footer-info">
							<div class="footer-info__icon">
								<svg class="icon icon-pin ">
									<use xlink:href="images/sprites.svg#pin"></use>
								</svg>
							</div>
							<div class="footer-info__title">Keurenplein 41, 1069CD Amsterdam, The&nbsp;Netherlands</div>
						</div>
						<div class="footer-info">
							<div class="footer-info__icon">
								<svg class="icon icon-phone ">
									<use xlink:href="images/sprites.svg#phone"></use>
								</svg>
							</div>
							<div class="footer-info__title">+31 6 389 003 01</div>
						</div>
						<div class="footer-info">
							<div class="footer-info__icon">
								<svg class="icon icon-info ">
									<use xlink:href="images/sprites.svg#info"></use>
								</svg>
							</div>
							<div class="footer-info__title">info@unitso.com</div>
						</div>
						<div class="footer-info">
							<div class="footer-info__icon">
								<svg class="icon icon-clock ">
									<use xlink:href="images/sprites.svg#clock"></use>
								</svg>
							</div>
							<div class="footer-info__title">Mon to Fri - 09:00 to 18:00</div>
						</div>
					</div>
				</div>
				<div class="footer-bottom">
					<div class="footer-text">
						<p>Chamber of Commerce (KvK) no.: 61629642 <span>VAT number (BTW-id): NL002525228B24</span></p>
					</div><a class="footer-icon" href="https://www.linkedin.com/in/sergii-oliinyk-simcorp-dimension-expertise/" target="_blank">
						<picture>
							<source media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset="images/in@x2.png"><img src="images/in.png">
						</picture></a>
				</div>
				<div class="footer-copyright">© 2014 Unitso. All rights reserved.</div>
			</div>
		</footer>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="js/vendor.js?v=1605465547155"></script>
		<script src="js/main.js?v=1605465547155"></script>
	</body>
</html>

src/templates/solution-validate.pug
extends _layouts/_base

append vars
	-
		var title = 'Solution-validate'

block content
	.page-bg
	.page
		section.page-banner
			.container
				h1.page-banner__title.size_small Solutions &amp; Services
				.page-banner__image.style_solution
					img(src="images/solution-banner.png" alt="")
		section.section-solution
			.container
				.solution-tabs
					a(href="#").solution-tab.is-active enable <br>growth
					a(href="get-expertise.html").solution-tab get expertise
					a(href="reduce-costs.html").solution-tab reduce costs
					a(href="meet-expectations.html").solution-tab meet expectations

				.solution-buttons
					.solution-slider.js-solutionSlider
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									a(href="solution.html").solution-button New SimCorp Dimension task/project
									a(href="solution-onlinesimcorp.html").solution-button Online SimCorp Dimension<br> Support & Development
									a(href="solution-project-planning.html").solution-button Project planning
									a(href="solution-validate.html").solution-button.is-active Validate/Audit concept:

								.swiper-slide
									a(href="#").solution-button System performance
									a(href="#").solution-button LDI hedging engine: KRD, DV01
									a(href="#").solution-button Currency (FX) risk hedging engine
									a(href="#").solution-button Index Tracking &amp; Portfolio Rebalancing engine

								.swiper-slide
									a(href="#").solution-button Cash flow forecast engine: matching, CDI
									a(href="#").solution-button Bond Forward (OTC) daily pricing engine
									a(href="#").solution-button Automatic data management

						.reviews-slider__nav
							.swiper-prev
								svg(width="22" height="10" viewBox="0 0 22 10" fill="none" xmlns="http://www.w3.org/2000/svg")
									path(d="M1 4.75H20.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
									path(d="M1 4.75L4 1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
									path(d="M1 4.75L4 8.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

							.swiper-next
								svg(width="22" height="10" viewBox="0 0 22 10" fill="none" xmlns="http://www.w3.org/2000/svg")
									path(d="M21 4.75H1.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
									path(d="M21 4.75L18 1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
									path(d="M21 4.75L18 8.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

		section.section-solution
			.container
				.solution-about
					h2.solution-title Index Tracking & Portfolio Rebalancing engine

					.solution-text
						p You have a brilliant team of own experts, who come up with a new concept for innovation or a project to be developed in SimCorp Dimension. However, you would like to be sure that the proposed concept/solution is the optimal one. Based on our years of experience in SimCorp Dimension system, we are ready to provide you with our new Validate the concept/Audit service.

						p We will ensure that all details and capabilities of Dimension are taken into account during concept definition, and will assist your specialists with our strong expertise in order to make the right decision.

					.solution-container
						.solution-list
							.solution-elem
								.solution-elem__head
									.solution-elem__icon
										+icon('fast')
									h3.solution-elem__title Reliability

								.solution-elem__body
									p The independent opinion is a strong advantage that contributes into making the optimal and reliable business decisions

							.solution-elem
								.solution-elem__head
									.solution-elem__icon
										+icon('scaleble')
									h3.solution-elem__title Beneficial

								.solution-elem__body
									p We will ensure that the needed knowledge is shared with your specialists regarding further maintenance and evolution of the chosen concept

							.solution-elem
								.solution-elem__head
									.solution-elem__icon
										+icon('quality')
									h3.solution-elem__title High-Quality

								.solution-elem__body
									p Our deep expertise in SimCorp Dimension functionality will help you to avoid the unexpected issues in the chosen concep

						.solution-dropbox
							.dropbox-body.js-dropBoxBody(style="display: none")
								ul.ul
									li Analyze the business goal and available requirement specification
									li Based on SimCorp Dimension capabilities and functionality, we define the possible solutions with pros and cons
									li Compare the possible solutions with the client solution in order to identify the strong and weak sides
									li Make a choice regarding the best decision

						.solution-bottom
							.solution-buttons__flex
								a(href="javascript:;").button.style_border.js-toggleDropBox
									span.button__text Details
										.button__icon
											+icon('arrow-top')

								a(class="button js-modalLink" href="javascript:;" data-mfp-src="#modalForm")
									span.button__text Order

	include _parts/_modal-form
