src/templates/system-performance.pug
extends _layouts/_base

append vars
	-
		var title = 'System Performance'

block content
	.page-bg
	.page
		section.page-banner
			.container
				h1.page-banner__title.size_small Solutions &amp; Services
				.page-banner__image.style_solution
					img(src="images/solution-banner.png" alt="")
		section.section-solution
			.container
				.solution-tabs
					a(href="#").solution-tab.is-active enable <br>growth
					a(href="get-expertise.html").solution-tab get expertise
					a(href="reduce-costs.html").solution-tab reduce costs
					a(href="meet-expectations.html").solution-tab meet expectations

				.solution-buttons
					a(href="#").solution-button.is-active New SimCorp Dimension Task/project
					a(href="solution-onlinesimcorp.html").solution-button Online SimCorp Dimension<br> Support & Development
					a(href="solution-project-planning.html").solution-button Project planning
					a(href="solution-validate.html").solution-button Validate/Audit concept:

		section.section-solution
			.container
				.solution-about
					h2.solution-title Index Tracking & Portfolio Rebalancing engine

					.solution-text
						p Over the years, clients construct and automate many business processes, executed within SimCorp Dimension system. However, with a passage of time a speed of execution becomes more valuable: with increase of data transfer speed the clients get an access to information faster, and consequently have to react and take the right decisions often in the time pressure circumstances. As the result, SimCorp Dimension system performance is expected to be regularly enhanced and tuned in order to succeed with such business challenges.

					.solution-container
						.solution-list
							.solution-elem
								.solution-elem__head
									.solution-elem__icon
										+icon('fast')
									h3.solution-elem__title Speed

								.solution-elem__body
									p Our SimCorp Dimension expertise will provide you with system performance optimization, that will let your business operations process as fast as possible.

							.solution-elem
								.solution-elem__head
									.solution-elem__icon
										+icon('scaleble')
									h3.solution-elem__title Scalability

								.solution-elem__body
									p Each solution, constructed in SimCorp Dimension, gets exposed to the scalability challenges once the number of customers grows. Our team will analyze the architecture, used in your SimCorp Dimension setups, and will propose the optimal one for best scalability.

							.solution-elem
								.solution-elem__head
									.solution-elem__icon
										+icon('quality')
									h3.solution-elem__title Compliance

								.solution-elem__body
									p High system performance will let your business deliver products and reports on time, meeting the clients’ expectations professionally.

						.solution-dropbox
							.dropbox-body.js-dropBoxBody(style="display: none")
								ul.ul
									li Investigate the regular SimCorp Dimension processes and setups, used in your company
									li Create a map of system performance issues and vulnerabilities
									li Design a set of advices and solutions regarding system execution speed acceleration
									li Measure the results before/after acceleration, provide a summary

						.solution-bottom
							.solution-buttons__flex
								a(href="javascript:;").button.style_border.js-toggleDropBox
									span.button__text Details
										.button__icon
											+icon('arrow-top')

								a(class="button js-modalLink" href="javascript:;" data-mfp-src="#modalForm")
									span.button__text Order

	include _parts/_modal-form

build/system-performance.html
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>System Performance</title>
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
		<link rel="stylesheet" href="css/main.css" type="text/css">
	</head>
	<body>
		<header class="header">
			<div class="container">
				<div class="header-content"><a class="header-logo" href="main.html">
						<picture>
							<source media="(max-width: 767px)" srcset="images/logo@x2.png"/>
							<source media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset="images/logo@x2.png"/><img src="images/logo.png"/>
						</picture></a>
					<div class="header-nav">
						<div class="header-nav__elem"><a href="about.html">About</a></div>
						<div class="header-nav__elem"><a href="solution.html">Solutions & Services</a></div>
						<div class="header-nav__elem"><a href="news.html">News</a></div>
						<div class="header-nav__elem"><a href="contacts.html">Contact</a></div>
					</div>
					<div class="header-burger">
						<div class="burger js-openMenu"><i></i><i></i><i></i></div>
					</div>
				</div>
			</div>
			<div class="menu js-menu">
				<div class="menu-nav js-menuContent">
					<div class="menu-nav__elem"><a href="main.html">
							<picture>
								<source media="(max-width: 767px)" srcset="images/logo@x2.png"/>
								<source media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset="images/logo@x2.png"/><img src="images/logo.png"/>
							</picture></a></div>
					<div class="menu-nav__elem"><a href="about.html">About</a></div>
					<div class="menu-nav__elem"><a href="solution.html">Solutions & Services</a></div>
					<div class="menu-nav__elem is-active"><a href="news.html">News</a></div>
					<div class="menu-nav__elem"><a href="contacts.html">Contact</a></div>
				</div>
			</div>
		</header>
		<div class="page-bg"></div>
		<div class="page">
			<section class="page-banner">
				<div class="container">
					<h1 class="page-banner__title size_small">Solutions &amp; Services</h1>
					<div class="page-banner__image style_solution"><img src="images/solution-banner.png" alt=""></div>
				</div>
			</section>
			<section class="section-solution">
				<div class="container">
					<div class="solution-tabs"><a class="solution-tab is-active" href="#">enable <br>growth</a><a class="solution-tab" href="get-expertise.html">get expertise</a><a class="solution-tab" href="reduce-costs.html">reduce costs</a><a class="solution-tab" href="meet-expectations.html">meet expectations</a></div>
					<div class="solution-buttons"><a class="solution-button is-active" href="#">New SimCorp Dimension Task/project</a><a class="solution-button" href="solution-onlinesimcorp.html">Online SimCorp Dimension<br> Support & Development</a><a class="solution-button" href="solution-project-planning.html">Project planning</a><a class="solution-button" href="solution-validate.html">Validate/Audit concept:</a></div>
				</div>
			</section>
			<section class="section-solution">
				<div class="container">
					<div class="solution-about">
						<h2 class="solution-title">Index Tracking & Portfolio Rebalancing engine</h2>
						<div class="solution-text">
							<p>Over the years, clients construct and automate many business processes, executed within SimCorp Dimension system. However, with a passage of time a speed of execution becomes more valuable: with increase of data transfer speed the clients get an access to information faster, and consequently have to react and take the right decisions often in the time pressure circumstances. As the result, SimCorp Dimension system performance is expected to be regularly enhanced and tuned in order to succeed with such business challenges.</p>
						</div>
						<div class="solution-container">
							<div class="solution-list">
								<div class="solution-elem">
									<div class="solution-elem__head">
										<div class="solution-elem__icon">
											<svg class="icon icon-fast ">
												<use xlink:href="images/sprites.svg#fast"></use>
											</svg>
										</div>
										<h3 class="solution-elem__title">Speed</h3>
									</div>
									<div class="solution-elem__body">
										<p>Our SimCorp Dimension expertise will provide you with system performance optimization, that will let your business operations process as fast as possible.</p>
									</div>
								</div>
								<div class="solution-elem">
									<div class="solution-elem__head">
										<div class="solution-elem__icon">
											<svg class="icon icon-scaleble ">
												<use xlink:href="images/sprites.svg#scaleble"></use>
											</svg>
										</div>
										<h3 class="solution-elem__title">Scalability</h3>
									</div>
									<div class="solution-elem__body">
										<p>Each solution, constructed in SimCorp Dimension, gets exposed to the scalability challenges once the number of customers grows. Our team will analyze the architecture, used in your SimCorp Dimension setups, and will propose the optimal one for best scalability.</p>
									</div>
								</div>
								<div class="solution-elem">
									<div class="solution-elem__head">
										<div class="solution-elem__icon">
											<svg class="icon icon-quality ">
												<use xlink:href="images/sprites.svg#quality"></use>
											</svg>
										</div>
										<h3 class="solution-elem__title">Compliance</h3>
									</div>
									<div class="solution-elem__body">
										<p>High system performance will let your business deliver products and reports on time, meeting the clients’ expectations professionally.</p>
									</div>
								</div>
							</div>
							<div class="solution-dropbox">
								<div class="dropbox-body js-dropBoxBody" style="display: none">
									<ul class="ul">
										<li>Investigate the regular SimCorp Dimension processes and setups, used in your company</li>
										<li>Create a map of system performance issues and vulnerabilities</li>
										<li>Design a set of advices and solutions regarding system execution speed acceleration</li>
										<li>Measure the results before/after acceleration, provide a summary</li>
									</ul>
								</div>
							</div>
							<div class="solution-bottom">
								<div class="solution-buttons__flex"><a class="button style_border js-toggleDropBox" href="javascript:;"><span class="button__text">Details
											<div class="button__icon">
												<svg class="icon icon-arrow-top ">
													<use xlink:href="images/sprites.svg#arrow-top"></use>
												</svg>
											</div></span></a><a class="button js-modalLink" href="javascript:;" data-mfp-src="#modalForm"><span class="button__text">Order</span></a></div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<div class="modal modal-form mfp-hide" id="modalForm">
			<div class="modal-box"><a class="modal-close js-modalClose" href="javascript:;">
					<svg class="icon icon-close ">
						<use xlink:href="images/sprites.svg#close"></use>
					</svg></a>
				<div class="modal-head">
					<h3 class="modal-title">Make an order</h3>
				</div>
				<form class="modal-form js-validate">
					<div class="modal-form__flex">
						<div class="modal-form__left">
							<div class="form-field">
								<input class="input" type="text" name="name" placeholder="Your name..." required>
							</div>
							<div class="form-field">
								<input class="input" type="email" name="email" placeholder="Your e-mail..." required>
							</div>
							<div class="form-field">
								<input class="input" type="text" name="phone" placeholder="Your phone number..." required>
							</div>
						</div>
						<div class="modal-form__right">
							<div class="form-field">
								<textarea class="textarea" placeholder="Your message..." name="message" required></textarea>
							</div>
						</div>
					</div>
					<div class="form-field">
						<select class="form-select js-select2Single" data-placeholder="Choose product..." name="product" required>
							<option></option>
							<option value="0">New SimCorp Dimension task/project</option>
							<option value="1">Online SimCorp Dimension support &amp; development</option>
							<option value="2">Project planning</option>
							<option value="3">Validate/Audit the concept</option>
							<option value="4">Professional services</option>
							<option value="5">System performance</option>
							<option value="6">LDI hedging engine: KRD, DV01</option>
							<option value="7">Currency (FX) risk hedging engine</option>
							<option value="8">Index Tracking &amp; Portfolio Rebalancing engine</option>
							<option value="9">Cash flow forecast engine: matching, CDI</option>
							<option value="10">Duration calculation engine: DV01, CSD, OAD, MD, KRD</option>
							<option value="11">IRS swap daily pricing engine</option>
							<option value="12">Bond Forward (OTC) daily pricing engine</option>
							<option value="13">UFR Yield Curve expertise</option>
							<option value="14">GIPS reporting engine</option>
							<option value="15">Swaption (OTC) daily pricing engine</option>
							<option value="16">Automatic data management</option>
							<option value="17">Other</option>
						</select>
					</div>
					<div class="modal-form__submit">
						<button class="button" type="submit"><span class="button__text">Send</span></button>
					</div>
				</form>
			</div>
		</div>
		<footer class="footer">
			<div class="container">
				<div class="footer-top"><a class="footer-logo" href="main.html">
						<picture>
							<source media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset="images/logo-2@x2.png"><img src="images/logo-2.png">
						</picture></a>
					<div class="footer-nav">
						<div class="footer-nav__elem"><a href="about.html">About</a></div>
						<div class="footer-nav__elem"><a href="solution.html">Solutions & Services</a></div>
						<div class="footer-nav__elem"><a href="news.html">News</a></div>
						<div class="footer-nav__elem"><a href="contacts.html">Contact</a></div>
					</div>
					<div class="footer-info__list">
						<div class="footer-info">
							<div class="footer-info__icon">
								<svg class="icon icon-pin ">
									<use xlink:href="images/sprites.svg#pin"></use>
								</svg>
							</div>
							<div class="footer-info__title">Keurenplein 41, 1069CD Amsterdam, The&nbsp;Netherlands</div>
						</div>
						<div class="footer-info">
							<div class="footer-info__icon">
								<svg class="icon icon-phone ">
									<use xlink:href="images/sprites.svg#phone"></use>
								</svg>
							</div>
							<div class="footer-info__title">+31 6 389 003 01</div>
						</div>
						<div class="footer-info">
							<div class="footer-info__icon">
								<svg class="icon icon-info ">
									<use xlink:href="images/sprites.svg#info"></use>
								</svg>
							</div>
							<div class="footer-info__title">info@unitso.com</div>
						</div>
						<div class="footer-info">
							<div class="footer-info__icon">
								<svg class="icon icon-clock ">
									<use xlink:href="images/sprites.svg#clock"></use>
								</svg>
							</div>
							<div class="footer-info__title">Mon to Fri - 09:00 to 18:00</div>
						</div>
					</div>
				</div>
				<div class="footer-bottom">
					<div class="footer-text">
						<p>Chamber of Commerce (KvK) no.: 61629642 <span>VAT number (BTW-id): NL002525228B24</span></p>
					</div><a class="footer-icon" href="https://www.linkedin.com/in/sergii-oliinyk-simcorp-dimension-expertise/" target="_blank">
						<picture>
							<source media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)" srcset="images/in@x2.png"><img src="images/in.png">
						</picture></a>
				</div>
				<div class="footer-copyright">© 2014 Unitso. All rights reserved.</div>
			</div>
		</footer>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="js/vendor.js?v=1605465547371"></script>
		<script src="js/main.js?v=1605465547371"></script>
	</body>
</html>
